<nz-layout>
    <nz-header>
        <ul nz-menu nzMode="horizontal">
            <li nz-menu-item nzSelected [routerLink]="['/']">
                <span nz-icon nzType="mail"></span> Home
            </li>
            <li nz-menu-item [routerLink]="['/cart']">
                <span nz-icon nzType="appstore"></span> Shopping cart
            </li>
        </ul>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Footer</nz-footer>
</nz-layout>